.login-bg{

-fx-background-color:  #002554;

}
.textfield-design{
-fx-background-color:transparent;
-fx-background-radius:10px;
-fx-border-color:#002554;
-fx-border-radius:10px;
-fx-text-inner-color:#000;

}
.button-design{

-fx-background-color: #002554;
-fx-background-radius:20px;
-fx-cursor:hand;
}
.button-design:hover{
-fx-background-color:#00173E;
}

.label-design{
-fx-text-fill:#e29e10;
-fx-underline:false;

}
.label-design:hover{
-fx-text-fill:#b2b2b2;

}
.hyperlink-design{
-fx-text-fill:#e29e10;
-fx-underline:false;
}
.hyperlink-design:hover{
-fx-text-fill:#b2b2b2;

}
.signup-bg{

-fx-background-color:  #002554;

}
.combobox-design{
-fx-background-color:transparent;
-fx-background-radius:10px;
-fx-border-color:#002554;
-fx-border-radius:10px;
-fx-text-inner-color:#000;

}