.login-bg{

-fx-background-color:  #002554;

}
.textfield-design{
-fx-background-color:transparent;
-fx-background-radius:10px;
-fx-border-color:#002554;
-fx-border-radius:10px;
-fx-text-inner-color:#000;

}
.button-design{

-fx-background-color: #002554;
-fx-background-radius:20px;
-fx-cursor:hand;
}
.button-design:hover{
-fx-background-color:#00173E;
}

.label-design{
-fx-text-fill:#e29e10;
-fx-underline:false;

}
.label-design:hover{
-fx-text-fill:#b2b2b2;

}
.hyperlink-design{
-fx-text-fill:#e29e10;
-fx-underline:false;
}
.hyperlink-design:hover{
-fx-text-fill:#b2b2b2;

}
.signup-bg{

-fx-background-color:  #002554;

}
.combobox-design{
-fx-background-color:transparent;
-fx-background-radius:10px;
-fx-border-color:#002554;
-fx-border-radius:10px;
-fx-text-inner-color:#000;

}
.side-anchor{
-fx-background-color: #002554;
-fx-border-color: #002554;
-fx-border-width:2px,2px,2px,2px;
-fx-border-radius:20px;
-fx-background-radius:20px;
-fx-border-style:solid;
}
.inner_pane{
-fx-background-color: #1d477d;
-fx-border-color:#1d477d ;
-fx-border-width:2px,2px,2px,2px;
-fx-border-radius:20px;
-fx-background-radius:20px;
-fx-border-style:solid;

}
.navigator_btn{
-fx-background-color: #1d477e;
-fx-border-color:#002554 ;

}

.student-table {
    -fx-background-color: #EAEBEE;
}

.table-header {
    -fx-background-color: #002554;
}
.table-header .label{
    -fx-text-fill: #e29e10;
}

.btn-modify, .btn-cancel{
    -fx-background-color: #002554;
    -fx-background-radius:20px;
    -fx-cursor:hand;
    -fx-text-fill: #fffff;
}







